.more_quizzes {
  display:none;

  table { margin: auto; }

  a.hover{
    user-select: none;
  }


  img {
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 15px;
  }

  a.linkbutton {
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  color: #bbb;
  padding : 4px;
  border-color : #cccccc;
  border-radius: 5px;
  padding: 0px 15px 0px 15px;
}
a.linkbutton:hover{
  color: white;
  background-color: #cccccc;
}
}

.its_a_match {
 .party_logo.top {font-size: 175px;height: 33px;padding-top: 33px;margin-top: 60px;margin-bottom: 5px;}
 .party_logo.unitedfuture {font-size: 175px;height: 33px;padding-top: 33px;margin-top: 60px;margin-bottom: 5px;}
}
